<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit menu</title>
    </head>
    <body>
        <div class="overlay">
            <div class="close_btn"><%= link_to "/menu/index" do %><i class="fas fa-times"></i><%end%></div>
                <div class="edit_menu">
                    <div class="title_edit_menu">Edit menu</div>
                    <div class="select_day">
                        <%= form_with url:"/menu/day" do |f| %>
                            <%= f.date_field :start_date , class:"menu_edit_select_date"%> 〜 <%= f.date_field :start_date2 ,class:"menu_edit_select_date"%>
                            <%= f.button :type => "submit",class:"search_btn" do %><i class="fas fa-search"></i><% end %>
                        <% end %>
                    </div>
                    <%if @select_menu%>
                        <table class="edit_menu_list">
                            <tr>
                                <th>日付</th>
                                <th>レシピ名</th>
                                <th></th>
                            </tr>
                            <%= form_with url:"/menu/delete", method: :delete do |f| %>
                                <% @select_menu.each do |s| %>
                                    <tr>
                                        <td>
                                            <%= s.start_date%>
                                        </td>
                                        <td>
                                            <%= f.hidden_field :id, value: s.id %>
                                            <%= Recipe.find_by(id:s.recipe_id).name %>
                                        </td>
                                        <td> 
                                            <%= f.button :type => "submit",class:"menu_delete_btn" do %><i class="far fa-trash-alt"></i><% end %>
                                        </td>
                                    </tr>
                                <%end%>
                            <%end%>
                        </table>
                    <%end%>
                    <div class="determined_calendar">
                        <!--献立カレンダー-->
                            <div class="calender_title"><i class="fas fa-utensils"></i>　登録済みの献立　<i class="fas fa-utensils"></i></div>
                            <div class="edit_menu_calender">
                                <%= week_calendar number_of_weeks:2 ,events:@menus do |date,menus| %>
                                    <%= date.day %>
                                    <% menus.each do |m| %>
                                            <li><%= link_to Recipe.find_by(id:m.recipe_id).name,Recipe.find_by(id:m.recipe_id).address %></li>
                                    <% end %>
                                <% end %>
                            </div>
                    </div>   
                </div>
        </div>
    </body>
</html>