<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Make a menu</title>
    </head>
    <body>
    <div class="page_title">
        <h1>Make a menu</h1>
    </div>
    <br>
    <%= form_with url:"/meal/search" ,method: :get ,class:"recipe_search" do |f| %>
        <%= f.label :"レシピ検索" %>
        <%= f.search_field :keyword %>
        <%= f.submit "検索" %>
    <% end %>
    <br>
    <% if @results %>
        <% @results.each do |r| %>
            <%= r.name %>
        <% end %>
    <% end %>
    </body>
</html>