<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NEW MEAL</title>
    </head>
    <body>
    <div class="page_title">
        <h1>NEW MEAL</h1>
    </div>
    <!--献立カレンダー-->
    <div class="meal_calender">
        <div class="meal_subtitile"><h2>献立カレンダー</h2></div>
        <%= week_calendar number_of_weeks:2 ,events:@meals do |date,meals| %>
            <%= date.day %>
            <% meals.each do |m| %>
                <div>
                    <li><%= link_to Recipe.find_by(id:m.recipe_id).name,Recipe.find_by(id:m.recipe_id).address %></li>
                </div>
            <% end %>
        <% end %>
    </div>
    <br>
    <div class="meal_subtitile">
        <h2>献立を決める</h2>
    </div>
    <div class="how_to_register">
        <p>レシピを検索し、登録日を選んでから選択ボタンを押してください。</p>
    <% if @new_meal %>
        <% @new_meal.errors.full_messages.each do |message| %>
            <div class="form-error">
            <%= message %>
            </div>
        <% end %>
    <% end %>
    </div>
    <br>
    <!--レシピ検索form-->
    <%= search_form_for @search_recipes, url:"/meal/search" ,class:"recipe_search" do |f| %>
        <%= f.label :name_cont, "レシピ検索" %>
        <%= f.search_field :name_cont ,size:50%>
        <%= f.submit "検索" %>
    <% end %>
    <br>
    <br>
    <% if @results %>
        <table class="meal_select">
            <% @results.each do |r|%>
                <tr>
                    <!--レシピ選択-->
                    <%= form_with url:"/meal/select" do |f| %>
                        <td>
                            <%= f.hidden_field :recipe_id, value: r.id %>
                            <%= link_to r.name,"/recipes/#{r.id}" %>
                        </td>
                        <td>
                            <%= f.date_field :start_time %>    
                        </td>
                        <td>
                            <%= f.submit "選択"%>
                        </td>
                    <% end %>
                </tr>
            <% end %>
            </tr>
        </table>
    <%end%>
        <br>
        <br>
    </body>
</html>