<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ShoppingList</title>
</head>
<body>
<div class="page_title"><h1>Shopping List</h1></div>
<br>
<div class="date"><%=params[:date]%></div>
<br>
<table>
        <tr>
            <td>check!!</td>
            <td>材料</td>
            <td>分量</td>
        </tr>
        <% shopping_list().each do |s|%>
        <tr>
            <td>
                <%= check_box_tag :check %>
            </td>
            <td>
                <%= label_tag :check, Ingredient.find_by(id: s.ingredient_id).foodname%>
            </td>
            <td>
                <%= s.amount %>
            </td>
        </tr>
        <%end%>
    </table>
<br>
<div class="link">
        <%= link_to "戻る","/shopping/index" %>
</div>
<br>
</body>
</html>