<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopping index</title>
</head>
<body>
<div class="page_title"><h1>SHOPPING</h1></div>
<br>
<div class="link">
        <%= link_to "作成した買い物リストを確認する","/shopping/list" %>
</div>
<br>
<div class="meal_calender">
        <div class="meal_subtitile"><h2>献立カレンダー</h2></div>
        <%= month_calendar events:meals() do |date,meals| %>
            <%= date.day %>
            <% meals.each do |m| %>
                <div>
                    <li><%= link_to Recipe.find_by(id:m.recipe_id).name,Recipe.find_by(id:m.recipe_id).address %></li>
                </div>
            <% end %>
        <% end %>
</div>
<br>
<div class="shopping_create">
    <p>買い物リストを作りたい期間を指定してください。</p>
        <%= form_with url:"/shopping/create" do |f| %>
            <%= f.date_field :day_start %> ~ <%= f.date_field :day_end %>     
            <%= f.submit "選択"%>
        <% end %>
</div>
<br>


</body>
</html>
