<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopping index</title>
</head>
<body>
    <main>
        <nav>
        <div class="nav_title"><h1>Shopping</h1></div>
            <ul class="nav_menu">
                <li><%= link_to("Create shopping list","/shopping/create_shopping_list",class:"menu_link")%></li>
            </ul>
        </nav>
        <article>
            <div class="check_shopping_list">
                <div class="sub_title"><i class="fas fa-tasks"></i> Check the shopping list</div>
                <div class="index_description">日付を選択してください。</div>
                    <div class="shoppinglist_date">
                        <%= form_with url:"/shopping/view" do |f| %>
                            <%= f.date_field :start_date,class:"select_date"%> 〜 <%= f.date_field :end_date,class:"select_date" %>
                            <%= f.button :type => "submit",class:"search_btn" do %><i class="fas fa-search"></i><% end %>
                        <% end %>
                    </div>
            </div>
            <!--献立カレンダー-->
            <div class="menu_calender">
                <%= week_calendar number_of_weeks:2 ,events:@menus do |date,menus| %>
                    <%= date.day %>
                    <% menus.each do |m| %>
                        <div>
                            <li><%= link_to Recipe.find_by(id:m.recipe_id).name,Recipe.find_by(id:m.recipe_id).address %></li>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </article>
    </main>
</body>
</html>
