<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopping index</title>
</head>
<body>
    <div class="page_title"><h1>SHOPPING</h1></div>
    <br>
    <table class="link">
        <td>
            <h2><%= link_to "買い物リストを作成する","/shopping/create_shopping_list" %></h2>
        </td>
    </table>
    <br>
    <h3>買い物リストを確認する</h3>
    <p>日付を選択してください。</p>
        <div class="shoppinglist_date">
            <%= form_with url:"/shopping/view" do |f| %>
                <%= f.date_field :start_date %> 〜 <%= f.date_field :end_date %>
                <%= f.submit "選択"%>
            <% end %>
        </div>
    <br>
    <!--献立カレンダー-->
    <h2>献立</h2>
    <div class="menu_calender">
        <%= week_calendar number_of_weeks:4 ,events:@menus do |date,menus| %>
            <%= date.day %>
            <% menus.each do |m| %>
                <div>
                    <li><%= link_to Recipe.find_by(id:m.recipe_id).name,Recipe.find_by(id:m.recipe_id).address %></li>
                </div>
            <% end %>
        <% end %>
    </div>
    <br>
    
    <br>
</body>
</html>
