<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Shopping index</title>
</head>
<body>
  <header>
    <div class="title_logo">Menutable</div>
      <div class="account_list">
        <%= link_to "/users/#{@current_user.id}",class:'header_link',method: :get do %>
          <i class="fas fa-user"></i> <%=@current_user.login_id%>
        <%end%>
        <%= link_to "/users/logout",class:'header_link',method: :post, data: {confirm: "ログアウトしますか？"} do %>
          <i class="fas fa-sign-out-alt"></i> Logout
        <%end%>
      </div>
      <div class="menu_list">
        <%= link_to "/about",class:'header_link',method: :get do %>
          <i class="fas fa-home"></i> About
        <%end%>
        <%= link_to "/recipes/recipe_top",class:'header_link',method: :get do %>
          <i class="fas fa-book"></i> Recipe
        <%end%>
        <%= link_to "/meal/menu_top",class:'header_link',method: :get do %>
          <i class="far fa-calendar-alt"></i> Menu
        <%end%>
        <%= link_to "/shopping/shopping_top",class:'header_link',method: :get do %>
          <i class="far fa-list-alt"></i> Shopping
        <%end%>
        <%= link_to 'https://www.iy-net.jp/',target: :_blank, rel: "noopener noreferrer",class:'header_link',method: :get do %>
          <i class="fas fa-shopping-cart"></i> Store
        <%end%>
      </div>
  </header>
  <main>
    <div class="auto">
      <% if flash[:notice] %>
        <div class="flash"><%= flash[:notice] %></div>
      <%end%>
    </div>
    <nav>
        <div class="nav_title">Shopping</div>
            <div class="nav_menu">
                <li><%= link_to("買い物リスト作成","/shopping/create_shopping_list",class:"nav_menu_link")%></li>
            </div>
    </nav>
    <article>
        <div class="check_shopping_list">
            <div class="index_description">確認したい買い物リストの日付を選択してください。</div>
            <div class="form-error"><%=flash[:error_view]%></div>   
                <div class="shoppinglist_date">
                    <%= form_with url:"/shopping/search_shopping" do |f| %>
                        <%= f.date_field :start_date,class:"shopping_select_date"%> 〜 <%= f.date_field :end_date,class:"shopping_select_date" %>
                        <%= f.button :type => "submit",class:"shopping_search_btn" do %><i class="fas fa-search"></i><% end %>
                    <% end %>
                </div>
        </div>
        <!--献立カレンダー-->
        <div class="menu_calender">
            <%= week_calendar number_of_weeks:2 ,events:@menus do |date,menus| %>
                <%= date.day %>
                <% menus.each do |m| %>
                    <div>
                        <li><%= link_to Recipe.find_by(id:m.recipe_id).name,Recipe.find_by(id:m.recipe_id).address ,class:"calender_recipe_name"%></li>
                    </div>
                <% end %>
            <% end %>
        </div>
    </article>
  </main>
</body>
</html>
