<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopping List</title>
</head>
<body>
    <div class="page_title"><h1>SHOPPING LIST</h1></div>
    <br>
    <table class="link">
        <tr>
            <td><h2><%= link_to "Shopping Index","/shopping/index" %></h2></td>
        </tr>
        <tr>
            <td><h2><%= link_to "買い物リストを編集",shopping_edit_shopping_list_path(start_date:params[:start_date],end_date:params[:end_date]) %></h2></td>
        </tr>
    </table>
    <br>
    <h2>期間：<%= params[:start_date]%>~<%=params[:end_date]%></h2>
    <br>
    <table border="1" class="shopping_list">
        <tr>
            <th>食材</th>
            <th> </th>
        </tr>
        <%shopping_list().each do |item|%>
            <tr>
                <td>
                    <%= Food.find_by(id:item.food_id)[:name]%>
                </td>
                <% if item.unit != "none"%>
                <td>
                    <%= item.quantity%><%= item.unit%>
                </td>
                <%end%>
            </tr>
        <%end%>
            <tr>
                <th>
                    調味料
                </th>
            </tr>
        <%shopping_seasoning().each do |item|%>
            <tr>
                <td>
                    <%= Food.find_by(id:item.food_id)[:name]%>
                </td>
            </tr>
        <%end%>
    </table>
    <br>
    <%= link_to "csvで出力する",shopping_create_csv_path(format: :csv,start_date:params[:start_date],end_date:params[:end_date])%>
    <br>
    
</body>
</html>
