<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit recipe</title>
</head>
<body>
    <div class="input_table">
        <div class="input_table_title">レシピ編集<%= link_to "/recipes/#{params[:id]}" ,class:"close_btn" do %><i class="fa-regular fa-circle-xmark"></i><%end%></div>
            <% if @edit_recipe %>
                <% @edit_recipe.errors.full_messages.each do |message| %>
                    <div class="form-error">
                        <%= message %>
                    </div>
                <% end %>
            <% end %>    
        <%= form_with url:"/recipes/#{params[:id]}/update_recipe" do |f| %>
            <table class="update_recipe_form">
                <tr>
                    <td>
                        <%= f.label :"Name",class:"update_recipe_label"%>
                    </td>
                    <td>
                        <%= f.text_field :name ,:value=> recipe().name ,size:50 ,class:"update_recipe_input"%>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= f.label :"Keyword",class:"update_recipe_label"%>
                    </td>
                    <td>
                        <%= f.text_field :keyword ,:value=> recipe().keyword ,size:50,class:"update_recipe_input"%>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= f.label :"URL",class:"update_recipe_label"%>
                    </td>
                    <td>
                        <%= f.text_field :address ,:value=> recipe().address ,size:50,class:"update_recipe_input"%>
                    </td>
                </tr>
            </table>      
            <%= f.button type:"submit",class:"recipes_submit_btn"%>
        <% end %>
    </div>
</body>
</html>