<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit recipe</title>
    </head>
    <body>
        <main>
            <div class="overlay">
                <div class="close_btn"><%= link_to("×","/recipes/index")%></div>
                <div class="edit_recipe_detail">
                    <div class="title_edit_recipe_detail">Edit recipe</div>
                
                    <% if @edit_recipe %>
                        <% @edit_recipe.errors.full_messages.each do |message| %>
                            <div class="form-error">
                                <%= message %>
                            </div>
                        <% end %>
                    <% end %>
                    <br>
                    <div class="update_recipe_form">
                    <table>
                        <%= form_with url:"/recipes/#{params[:id]}/update_recipe" do |f| %>
                            <tr>
                                <td><%= f.label :"Name",class:"update_recipe_label"%></td>
                                <td><%= f.text_field :name ,:value=> recipe().name ,size:50 ,class:"update_recipe_input"%></td>
                            </tr>
                            <tr>
                                <td><%= f.label :"Keyword",class:"update_recipe_label"%></td>
                                <td><%= f.text_field :keyword ,:value=> recipe().keyword ,size:50,class:"update_recipe_input"%></td>
                            </tr>
                            <tr>
                                <td><%= f.label :"URL",class:"update_recipe_label"%></td>
                                <td><%= f.text_field :address ,:value=> recipe().address ,size:50,class:"update_recipe_input"%></td>
                            </tr>
                    </table>
                    <br>
                                <%= f.submit "変更" ,class:"edit_recipe_submit_button"%>                
                        <% end %>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>