<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recipe</title>
</head>
    <nav>
      <div class="nav_title">Recipe</div>
      <div class="nav_menu">
          <li><%= link_to("レシピを登録する","/recipes/new",class:"nav_menu_link")%></li>
          <li><%= link_to("レシピ一覧","/recipes/index",class:"nav_menu_link")%></li>
      </div>
    </nav>
    <article>
      <%= form_with url:"/recipes/search", class:"search_form", method: :get, local: true do |f| %>
        <%= f.label :search,'Recipe search' ,class:"recipe_label"%>
        <%= f.text_field :searchword ,class:"search_input"%>
        <%= f.button type:"submit",name: nil,class:"search_submit" do %><i class="fas fa-search"></i><%end%>
      <% end %>
      <%if @search_recipe%>
        <table class="search_recipeslist">
          <% @search_recipe.each do |s| %>
            <tr>
              <td>
                <%= link_to s.name, "/recipes/#{s.id}",class:"recipes_link"%>
              </td>
            </tr>
          <%end%>
        </table>
      <%else%>
        <table class="all_recipeslist">
          <% recipes().each do |r|%>
            <tr>
              <td>
                <li><%= link_to r.name , "/recipes/#{r.id}",class:"recipes_link" %></li>
              </td>
            </tr>
          <%end%>
        </table>
      <%end%>
    </article>
</html>