<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>レシピ登録</title>
</head>
<body>
    <div class="input_table">
        <div class="input_table_title">Add Recipe<%= link_to recipes_index_path ,class:"close_btn" do %><i class="fa-regular fa-circle-xmark"></i><%end%></div> 
        <div class="create_recipe_attention">cookpadのみ対応</div>
        <% if @url_error %>
            <div class="form-error"><%= @url_error%></div>
        <%end%>    
        <div class="create_recipe_form">
            <%= form_with url:"/recipes/create_recipe" do |f| %>
                <%= f.label 'URL' ,class:"recipe_label"%>　
                <%= f.text_field :address ,class:"create_recipe_input"%>
                <%= f.button type:"submit", class:"recipes_submit_btn" do %><i class="fas fa-folder-plus"></i> Add<%end%>
            <%end%>
        </div>
    </div>
</body>
</html>