<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>レシピ登録</title>
</head>
<body>
    <article>
        <div class="recipe_new_table">
            <div class="section_title">Add Recipe </div> 
                <% if @created_recipe %>
                    <% @new_recipe.errors.full_messages.each do |message| %>
                        <div class="form-error">
                        <%= message %>
                        </div>
                    <% end %>
                <%end%>
            <p class="create_recipe_attention">cookpadのみ対応</p>
            <div class="create_recipe_form">
                <%= form_with url:"/recipes/create_recipe" do |f| %>
                    <%= f.label 'URL' ,class:"recipe_label"%>　
                    <%= f.text_field :address ,class:"create_recipe_input"%>
                    <%= f.button type:"submit", class:"create_recipe_btn" do %><i class="fas fa-folder-plus"></i> Add<%end%>
                <%end%>
            </div>
        </div>
    </article>
</body>
</html>