<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>レシピ登録</title>
</head>
<body>
<div class="overlay">
    <div class="close_btn"><%= link_to("×","/recipes/index")%></div>
    <div class="recipe_new_table">
        <h1 class="title_newrecipe">Recipe登録</h1> 
            <% if @created_recipe %>
                <% @new_recipe.errors.full_messages.each do |message| %>
                    <div class="form-error">
                    <%= message %>
                    </div>
                <% end %>
            <%end%>
        <p class="create_recipe_attention">cookpadのみ対応</p>
        <div class="create_recipe_form">
            <%= form_with url:"/recipes/create_recipe" do |f| %>
                <%= f.label 'URL' ,class:"recipe_label"%>
                <%= f.text_field :address ,class:"create_recipe_input"%>
                <%= f.submit "登録" ,class:"create_recipe_btn"%>
            <%end%>
        </div>
    </div>
</div>
</body>
</html>