<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>レシピ詳細</title>
</head>
<body>
<main>
    <nav>
        <div class="nav_title"><h1>Recipe</h1></div>
        <ul class="nav_menu">
            <li><%= link_to("Register the recipe","/recipes/new",class:"menu_link")%></li>
        </ul>
    </nav>
    <article>
        <aside>
            <div class="recipe_settings">
                <ul>
                    <li><%= link_to("編集","/recipes/#{params[:id]}/edit_recipe",class:"recipe_settings_link")%></li>
                    <li><%= link_to "削除", "/recipes/#{params[:id]}/delete", method: :delete, data: { confirm: "レシピを削除してよろしいですか?"} ,class:"recipe_settings_link"%></li>
                    <li><%= link_to("材料の編集","/recipes/#{params[:id]}/edit_material",class:"recipe_settings_link")%></li>
                    <li><%= link_to("レシピ一覧","/recipes/index",class:"recipe_settings_link")%></li>
                </ul>
            </div>
        </aside>
        <div class="recipe_detail">
            <h2><%= recipe().name %></h2>
            <table class="recipe_detail_table">
                <tr>
                    <th>keyword</th>
                    <td><%= recipe().keyword %></td>
                </tr>
                <tr>
                <th>URL</th>
                <td><%= link_to recipe().address, recipe().address %></td>
                </tr>
            </table>
            <table class="materials_list">
                <tr>
                    <th>食材</th>
                    <th>分量</th>
                </tr>
                <% ingredients().each do |i|%>
                <tr>
                    <td>
                        <%= i.foodname %>
                    </td>
                    <td>
                        <%= i.amount %>
                    </td>
                </tr>
                <%end%>
            </table>
        </div>
    </article>
</main>
</body>
</html>

