<!DOCTYPE html>
<html lang="ja">
<br>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>材料登録</title>
</head>
<body>
    <div class="overlay">
        <div class="close_btn">
            <%= link_to "/recipes/index" do %><i class="fas fa-times"></i><%end%>
        </div>
        <div class="new_ingredients_table">
            <div class="section_title">Add Material</div>
            <div class="main_contents">
                <%= form_with url:"/recipes/create_materials" do |f| %>
                    <table class="choose_ingredients">
                        <tr>
                            <th></th>
                            <th>Choices</th>
                            <th>Qunatity</th>
                        </tr>
                            <%= @automaticsearch_ingredient %>
                                <%@ingredients.each do |i|%>
                                    <% @foodlist = Food.where("name LIKE ? OR keyword LIKE ?","%#{i.foodname}%","%#{i.foodname}%")%>
                                    <%unless @foodlist.blank?%>
                                    <tr>
                                        <td>
                                            <h1 class="foodname"><%= i.foodname%></h1>
                                        </td>
                                        <td>
                                            <%= f.collection_check_boxes :food_ids, @foodlist, :id, :name, include_hidden:false, multiple: true %>
                                        </td>
                                        <td>
                                            <%= i.amount%>
                                        </td>
                                    </tr>
                                    <%end%>
                                <%end%>
                    </table>
                    <%= f.hidden_field :recipe_id, value: params[:id] %>
                    <%= f.hidden_field :amounts, value: @automaticsearch_ingredients%>
                    <%= f.button type:"submit",class:"create_material_btn" do %><i class="fas fa-folder-plus"></i> Add<%end%>
                <%end%>
            </div>
        </div>
    </div>
</body>
</html>