<!DOCTYPE html>
<html lang="ja">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<%= javascript_pack_tag 'application','data-turbolinks-track': 'reload'%>
<br>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>材料登録2</title>
</head>
<body>
<div class="overlay">
  <div class="close_btn">
    <%= link_to "/recipes/index" do %><i class="fas fa-times"></i><%end%>
  </div>
    <div class="new_ingredients_table">
      <div class="section_title">Add　Material</div>
      <div class="main_contents">
        <div class="explanation">
          <p>未登録の食材を登録するためにカテゴリーから類似する食材を選択し、分量を入力して登録してください。</p>
        </div>
        <div class="main_sections">
          <!-- 材料登録されていない分量のリスト-->
          <div class="unregistered_materials_list">
            <div class="list_title">未登録の食材</div>
              <table class="ingredients_list">
                <%@ingredients.each do |m|%>
                  <% @foodlist = Food.where("name LIKE ? OR keyword LIKE ?","%#{m.foodname}%","%#{m.foodname}%")%>
                    <%if @foodlist.empty?%>
                      <tr>
                        <td><%= check_box_tag :check%></td>
                        <td><%= m.foodname%></td>
                        <td><%= m.amount%></td>
                      </tr>
                    <%end%>
                <%end%>
              </table>
          </div>
          <!-- 材料リストの追加 -->
          <div class="add_material">
              <%=form_with url:"/recipes/create_manual_materials", id:"add_form",class:"add_form" do |f| %>
                <table class="add_material_table">
                  <tr>
                    <td><%= f.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id:'parent_category'}%></td>
                    <td><div class ="listing-product-detail__category"></div></td>
                  </tr>
                </table>
                分量：<%= f.text_field :amount, size:30 ,class:"amount_form"%></td>
                <%= f.hidden_field :kind, value: "new_material" %>
                <%= f.hidden_field :recipe_id, value: params[:id] %>
                <%= f.button type:"submit",class:"add_material_btn", onclick:'add()' do %><i class="fas fa-folder-plus"></i>　Add<%end%>
              <%end%>
          </div>
        </div>
    <%= link_to "/recipes/#{params[:id]}",class:"recipe_show_link" do %><i class="fas fa-clipboard-list"></i> Complete<%end%>
</div>
</body>


</html>