<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>アカウント設定編集</title>
</head>
<body>
<div class="overlay">
<div class="close_btn"><%= link_to("×","/top")%></div>
<div class="account_table">
    <h1 class="title_account">
        <i class="fas fa-user-edit"></i><br>
        アカウント編集
    </h1> 
        <div class="form-error">
            <% @current_user.errors.full_messages.each do |message| %>
                <%= message %>
            <% end %>
        </div>
    <br>
        <%= form_with url:"/users/update",class:"account_form" do |f|%>
            <table>
                <tr>
                    <td>
                        <h2 class="label">Login ID</h2>
                        <%= f.text_field :login_id ,value:@current_user.login_id , class:"input"%>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 class="label">Password</h2>
                        <%= f.password_field :password , class:"password_input"%>
                    </td>
                </tr>
                <tr>
                    <td><%= f.submit 'Update', class:"update_btn"%></td>
                </tr>
            </table>
        <% end %> 
</div>
</div>
</body>
</html>