<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>login</title>
</head>
<body>
    <div class="login_title">login</div>
    <br>
      <% if @error_message %>
        <div class="form-error">
          <%= @error_message %>
        </div>
      <% end %>
    <br>
      <%= form_with url:"/users/login",class:"login_form" do |f|%>
        <p>Login ID</p>
        <%= f.text_field :login_id ,:value => @login_id %>
        <p>Password</p>
        <%= f.password_field :password ,:value => @password %>
        <br>
        <%= f.submit 'Login'%> 
    <% end %>
    </div>
</body>
</html>