<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>login</title>
</head>
<body>
    <div class="input_table">
      <div class="input_table_title">Login <%= link_to "/",class:"close_btn" do %><i class="fa-solid fa-xmark"></i><%end%></div>
        <% if @error_message %>
          <div class="form-error"><p><%= @error_message %></p></div>
        <% end %>
      <div class="account_main">
        <%= form_with url:"/users/login" ,class:"input_form" do |f|%>
          <table class="account_form">
            <tr>
              <td>
                <div class="label">ID</div>
              </td>
              <td>
                <%= f.text_field :login_id ,value:@login_id , class:"input"%>
              </td>
            </tr>
            <tr>
              <td>
                <div class="label">Password</div>
              </td>
              <td>
                <%= f.password_field :password ,value:@password , class:"password_input" %>
              </td>
            </tr>
          </table> 
          <%= f.button type:"submit", class:"user_form_btn" do %>Login <i class="fas fa-sign-in-alt"></i><%end%>
        <% end %>
      </div>
    </div>
</body>
</html>