<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Account</title>
</head>
<body>
    <div class="account_title">Account</div>
    <br>
        <% @user.errors.full_messages.each do |message| %>
            <div class="form-error">
            <%= message %>
            </div>
        <% end %>
    <br>
        <%= form_with url:"/users/create",class:"account_form" do |f|%>
            <p>Login ID</p>
            <%= f.text_field :login_id ,:value => @login_id %>
            <p>Password</p>
            <%= f.password_field :password ,:value => @password %>
            <br>
            <%= f.submit '登録'%> 
        <% end %>
</body>
</html>