<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit ingredient</title>
    </head>
    <body>
        <div class="page_title"><h1>Edit ingredient</h1></div>
        <br>
        <div class="edit_subtitle">材料の変更</div>
        <br>
        <% if @edit_ingredient %>
            <% @edit_ingredient.errors.full_messages.each do |message| %>
                <div class="form-error">
                    <%= message %>
                </div>
            <% end %>
        <% end %>
        <table class="ingredient_list">
            <tr>
                <td>材料</td>
                <td>分量</td>
            </tr>
            <% ingredients().each do |i| %>
            <tr>
                <td>
                    <%= i.foodname %>
                </td>
                <td>
                    <%= form_with url:"/recipes/#{params[:id]}/update_ingredient" ,class:"ingredient_amount_form" do |f| %>
                        <%= f.hidden_field :ingredient_id, value: i.id %>
                        <%= f.text_field :amount ,value: i.amount ,size:12 %>
                        <%= i.unit%>
                        <%= f.submit "変更" ,class:"edit_btn"%>
                    <% end %>
                </td>
                <td>
                    <%= form_with url:"/recipes/#{params[:id]}/delete_ingredient",class:"ingredient_delete_form",method: :delete do |f|%>
                        <%= f.hidden_field :ingredient_id, value: i.id %>
                        <%= f.submit "削除" ,class:"edit_btn"%>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </table>
        <br>
        <div class="ingredients">
      <p>材料登録</p>
      <!-- 食材検索-->
      <%= search_form_for @food, url:"/recipes/#{params[:id]}/edit_foodsearch" do |f| %>
          <%= f.label :食材検索 %>
          <%= f.search_field :name_cont%>
          <%= f.submit "検索" %>
      <% end %>
      <br>
      <% if @food_results %>
        <!--材料登録-->
        <%= form_with url:"/recipes/#{params[:id]}/edit_create_ingredient" do |f| %>
          <table>
            <tr>
              <td>
                <%= f.collection_radio_buttons :food_ids, @food_results, :id, :name %>
              </td>
            </tr>
          </table>
          <table>
            <tr>          
              <td>
                <%= f.label :半角数字で入力%>
              </td>
              <td>
                <%= f.text_field :amount %> g
              </td>
              <td><%= f.submit "登録"%></td>
            </tr>
          </table>
        <%end%>
      <%end%>
    </div>
        <br>
        <br>
        <%= link_to "編集完了","/recipes/#{params[:id]}" %>
        <br>
        <br>
    </body>
</html>