<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>レシピ材料登録</title>
</head>
<body>
  <div class="page_title"><h1>材料登録</h1></div>
  <br>
    <div class="recipe_detail">
      <h3><%= recipe().name %></h3>
        <table>
          <tr>
            <td>keyword</td>
            <td><%= recipe().keyword %></td>
          </tr>
          <tr>
            <td>URL</td>
            <td><%= recipe().address %></td>
          </tr>
        </table>
    </div>
  <br>
    <div class="ingredients">
      <p>材料登録</p>
      <!-- 食材検索-->
      <%= search_form_for @food, url:"/recipes/#{params[:id]}/foodsearch" do |f| %>
          <%= f.label :食材検索 %>
          <%= f.search_field :name_cont%>
          <%= f.submit "検索" %>
      <% end %>
      <br>
      <% if @food_results %>
        <!--材料登録-->
        <%= form_with url:"/recipes/#{params[:id]}/create_ingredient" do |f| %>
          <table>
            <tr>
              <td>
                <%= f.collection_radio_buttons :food_ids, @food_results, :id, :name %>
              </td>
            </tr>
          </table>
          <table>
            <tr>          
              <td>
                <%= f.label :半角数字で入力%>
              </td>
              <td>
                <%= f.text_field :amount %> g
              </td>
              <td><%= f.submit "登録"%></td>
            </tr>
          </table>
        <%end%>
      <%end%>
    </div>
    <br>
    <!-- 食材の追加 -->
      <table class="add_food">
        <tr>
            <td>食材がリストになければ、新しく食材名を登録してください</td>
        </tr>
        <tr>
            <td>材料の追加</td>
        </tr>
        <tr>
          <% if @new_food %>
            <% @new_food.errors.full_messages.each do |message| %>
              <div class="form-error">
                <%= message %>
              </div>
            <% end %>
          <%end%>
        </tr>
            <%= form_with url:"/recipes/#{params[:id]}/create_food" do |f| %>
        <tr>
            <td><%=f.label :カテゴリー%> <%= f.select :food_category, [ ["穀類/麺類",1],["肉類",2], ["魚介類",3],["野菜",4],["果物",5], ["大豆/卵/乳製品",6], ["調味料",7], ["加工品",8]], include_blank: "選択して下さい" %></td>
        </tr>
        <tr>
            <td><%=f.label :食材名%> <%= f.text_field :name %></td>
        </tr>
        <tr>
            <td><%=f.label :単位%> <%= f.text_field :unit %></td>
        </tr>
        <tr>
            <td><%= f.submit '登録'%></td>
            <%end%>
        </tr>
      </table>
    <br>
    <%= link_to("登録完了","/recipes/#{params[:id]}") %><br>
    <br>
      <table class="ingredient-list" border="1">
        <tr>
            <td>必要な材料</td>
            <td>分量</td>
        </tr>
        <tr>
          <td>
        <!-- 必要な材料　-->
        <div class="scraping_ingredient">
          <% scraping().css('.name').children.each do |i|%>
              <%if i.text != "\n"%>
                <%= i.text %>
              <%end%>
          <%end%>
        </div>
          </td>
          <td>
        <!-- 必要な分量-->
        <div class="scraping_amount">
          <% scraping().css('.ingredient_quantity').each do |a|%>
              <%= a.text %>
          <%end%>
        </div>
          </td>
        </tr>
      </table>
    <br>
    <% if ingredients() %>
      <p>登録した食材</p>
        <table class="Registered_ingredientlist">
          <tr>
            <td>材料</td>
            <td>分量</td>
          </tr>
          <% ingredients().each do |i|%>  
          <tr>
            <td>
              <!-- 登録した材料　-->
              <%= i.foodname %>
            </td>
            <td>
              <!-- 登録した分量-->
              <%= i.amount %><%= i.unit %>
            </td>
          </tr>
          <%end%>
        </table>
    <%end%>
    <br>
    <div class="menu">
      <li><%= link_to("レシピ一覧","/recipes/index")%></li>
    </div>
</body>
</html>