<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>レシピ材料登録</title>
</head>
<body>
    <div class="page_title"><h1>材料登録</h1></div>
      <div class="recipe_detail">
        <h3><%= @newrecipe.name %></h3>
        <table>
          <tr>
            <td>keyword</td>
            <td><%= @newrecipe.keyword %></td>
          </tr>
          <tr>
            <td>URL</td>
            <td><%= @newrecipe.address %></td>
          </tr>
        </table>
      </div>
      <br>
      <table class="ingredient-form">
        <tr>
          <td>登録</td>
        </tr>
        <tr>
          <td>食材を登録してください</td>
        </tr>
        <tr>
          <td>カテゴリー</td>
          <td>  </td>
          <td>食材・分量</td>
        </tr>
        <tr>
          <td>
            <!-- (1)材料のカテゴリーを選択 -->
            <div class="foodcategory_pulldown">
              <%= form_with url:"/recipes/category" do |f| %>
                <%= f.select :category, [ ["穀類/麺類",1],["肉類",2], ["魚介類",3],["野菜",4],["果物",5], ["大豆/卵/乳製品",6], ["調味料",7], ["加工品",8]], include_blank: "選択して下さい" %><br>
                <%= f.submit 'next'%>
              <% end %>
            </div>
          </td>
          <td>
            <!-- (2)カテゴリー別の材料名を選択 -->
            <div class="food_pulldown">
              <%if @food_category %>
                <%= form_with url:"/recipes/create_ingredient" do |f| %>
                  <%= f.collection_select :food_id, @food_category.children, :id, :name, include_blank: "選択して下さい" %>
            </div>
          </td>
          <td>
            <!-- (3)分量の入力 -->
            <div class="amount_form">
                  <%= f.text_field :amount %> 
                  <%= f.submit '登録'%>
                <% end %>
              <%end%>
            </div>
          </td>
        </tr>
      </table>  
      <br>
      <%= link_to("登録完了","/recipes/#{@newrecipe.id}") %><br>
      <br>
        <!-- 食材の追加 -->
        <table class="add_food">
          <tr>
            <td>食材がリストになければ、新しく食材名を登録してください</td>
          </tr>
          <tr>
            <td>
              <%= form_with url:"/recipes/create_food" do |f| %>
                <%= f.select :food_category, [ ["穀類/麺類",1],["肉類",2], ["魚介類",3],["野菜",4],["果物",5], ["大豆/卵/乳製品",6], ["調味料",7], ["加工品",8]], include_blank: "選択して下さい" %>
                <%=f.label :食材名%><%= f.text_field :name %>
                <%= f.submit '登録'%>
              <%end%>
            </td>
          </tr>
        </table>
      <br>
        <table class="ingredient-list" border="1">
          <tr>
            <td>必要な材料</td>
            <td>分量</td>
          </tr>
          <tr>
            <td>
              <!-- 必要な材料　-->
              <div class="scraping_ingredient">
                <% @scraping_ingredient.each do |i|%>
                  <%if i.text != "\n"%>
                    <li><%= i.text %></li>
                  <%end%>
                <%end%>
              </div>
            </td>
            <td>
              <!-- 必要な分量-->
              <div class="scraping_amount">
                <% @scraping_amount.each do |a|%>
                  <li><%= a.text %></li>
                <%end%>
              </div>
            </td>
          </tr>
        </table>
        <p>登録した食材</p>
        <% if @ingredient %>
        <table class="Registered_ingredientlist">
          <tr>
            <td>材料</td>
            <td>分量</td>
          </tr>
          <tr>
            <td>
              <!-- 登録した材料　-->
              <div class="Registered_ingredients">
                <% @ingredient.each do |i|%>                  
                    <li><%= Food.find_by(id: i.food_id).name %></li>
                <%end%>
              </div>
            </td>
            <td>
              <!-- 登録した分量-->
              <div class="Registered_amount">
              <% @ingredient.each do |i|%>  
                  <li><%= i.amount %></li>
                <%end%>
              </div>
            </td>
          </tr>
        </table>
        <%end%>
      <br>
      <div class="menu">
        <li><%= link_to("レシピ一覧","/recipes/index")%></li>
    </div>
</body>
</html>