<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>レシピ詳細</title>
</head>
<body>
    <div class="page_title"><h1>レシピ詳細</h1></div>
        <br>
        <div class="recipe_menu">
            <li><%= link_to("レシピ編集","/recipes/#{params[:id]}/edit")%></li>
            <li><%= link_to "削除", "/recipes/#{params[:id]}/delete", method: :delete, data: { confirm: "レシピを削除してよろしいですか?"} %></li>
        </div>
        <br>
        <div class="recipe_detail">
            <h3><%= recipe().name %></h3>
            <table>
                <tr>
                    <td>keyword</td>
                    <td><%= recipe().keyword %></td>
                </tr>
                <tr>
                <td>URL</td>
                <td><%= link_to recipe().address, recipe().address %></td>
                </tr>
            </table>
        </div>
        <br>
        <table class="recipe_ingredient" border="1">
            <tr>
                <th>食材</th>
                <th>分量</th>
            </tr>
            <tr>
                <td>
                    <% ingredients().each do |i|%>
                        <li><%= i.foodname %></li>
                    <%end%>
                </td>
                <td>
                    <% ingredients().each do |i|%>
                        <li><%= i.amount %></li>
                    <%end%>
                </td>
            </tr>
        </table>
        <br>
        <div class="menu">
            <li><%= link_to("レシピ一覧","/recipes/index")%></li>
            <li><%= link_to("URLで登録","/recipes/new")%></li>
            <li><%= link_to("自分で入力して登録","")%></li>
        </div>
        
</body>
</html>
