<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
  <%= javascript_pack_tag 'application','data-turbolinks-track': 'reload'%>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Menutable</title>
</head>
  <body>
    <%= yield %>
  </body>  
</html>