<!DOCTYPE html>
<html>
<div class="bur">
  <head>
    <title>Menutable</title>
    <meta name="viewport" content="widtr=device-widtr,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" 
  </head>
  <body>
      <% if session[:user_id] %>
        <header>
          <div class="title_logo">menutable</div>
              <div class="account_list">
                <table>
                  <tr>
                    <td><i class="fas fa-user"></i><%= link_to(@current_user.login_id,"/users/#{@current_user.id}",class:'header_link') %></td>
                    <td><i class="fas fa-sign-out-alt"></i><%= link_to("Logout",'/users/logout',method: :post, data: {confirm: "ログアウトしますか？"},class:'header_link') %></td>
                  </tr>
                </table>
              </div>
            <div class="header_menu">
              <div class="menu_list">
                <table>
                  <tr>
                    <td><i class="fas fa-home"></i><%= link_to("About",'/top',class:'header_link') %></td>
                    <td><i class="fas fa-book"></i><%= link_to("Recipe",'/recipes/index',class:'header_link') %></td>
                    <td><i class="far fa-calendar-alt"></i><%= link_to("Menu",'/menu/index',class:'header_link') %></td>
                    <td><i class="far fa-list-alt"></i><%= link_to("Shopping",'/shopping/index',class:'header_link') %></td>
                    <td><i class="fas fa-shopping-cart"></i><%= link_to("Store",'https://www.iy-net.jp/',target: :_blank, rel: "noopener noreferrer",class:'header_link') %></td>
                  </tr>
                </table>
              </div>
            </div>
        </header>
        <main>
          <div class="auto">
            <% if flash[:notice] %>
              <div class="flash"><%= flash[:notice] %></div>
            <%end%>
            <%= yield %>
          </div>
        </main>
      <%else%>
          <main>
            <%= yield %>
          </main>
      <%end%>
  </body>
</div>
</html>
