<!DOCTYPE html>
<html>
<div class="bur">
  <head>
    <title>Menutable</title>
    <meta name="viewport" content="widtr=device-widtr,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
    <% if session[:user_id] %>
      <body>  
        <header>
          <div class="title_logo">menutable</div>
            <div class="account_list">
              <%= link_to "/users/#{@current_user.id}",class:'header_link',method: :get do %>
                <i class="fas fa-user"></i> <%=@current_user.login_id%>
              <%end%>
              <%= link_to "/users/logout",class:'header_link',method: :post, data: {confirm: "ログアウトしますか？"} do %>
                <i class="fas fa-sign-out-alt"></i> Logout
              <%end%>
            </div>
            <div class="menu_list">
              <%= link_to "/top",class:'header_link',method: :get do %>
                <i class="fas fa-home"></i> About
              <%end%>
              <%= link_to "/recipes/index",class:'header_link',method: :get do %>
                <i class="fas fa-book"></i> Recipe
              <%end%>
              <%= link_to "/menu/index",class:'header_link',method: :get do %>
                <i class="far fa-calendar-alt"></i> Menu
              <%end%>
              <%= link_to "/shopping/index",class:'header_link',method: :get do %>
                <i class="far fa-list-alt"></i> Shopping
              <%end%>
              <%= link_to 'https://www.iy-net.jp/',target: :_blank, rel: "noopener noreferrer",class:'header_link',method: :get do %>
                <i class="fas fa-shopping-cart"></i> Store
              <%end%>
            </div>
        </header>
        <div class="auto">
          <% if flash[:notice] %>
            <div class="flash"><%= flash[:notice] %></div>
          <%end%>
        </div>
        <main>
          <%= yield %>
        </main>
      </body>  
    <%else%>
      <body>
           <%= yield %>
      </body>  
    <%end%>
</div>
</html>
